*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}
.landing{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/main_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.landing__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
}
.landing__header-menu{
    display: flex;
    list-style: none;
    column-gap: 20px;
}
.landing__header-menu a{
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
.landing__header-menu a:hover{
    font-weight: bold;
}
.landing__header-btn{
    width: 100px;
    height: 40px;
    background: none;
    border: 1px solid white;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
}
.landing__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    width: 600px;
    margin: 13% auto;

}

.landing__content-title{
    font-weight: bold;
    font-size: 72px;
    align-items: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}
.landing__content-subtitle{
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}
.landing__content-btn{
    width: 160px;
    height: 50px;
    color: red;
    background-color: #fff;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 14px;
}
.easyToUse{
    display: flex;
    margin: 5% 17%;
    align-items: center;
    justify-content: space-between;
}
.easyToUse__content{
    width: 47%;
}
.easyToUse__content-title{
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}
.easyToUse__content-text{
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    color: #000000;
    width: 70%;
    margin: 24px 0 20px;
}
.easyToUse__content-link a{
    font-weight: normal;
    font-size: 14px;
    color: #ED4C5C;
    text-decoration: none;
}
.futures{
    background-color: #FAFAFA;
    padding: 5% 17%;
    display: flex;
    flex-direction: column;
}
.futures-title{
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    color: #000000;
    margin-bottom: 75px;
}
.futures__cards {
    display: flex;
    justify-content: space-between;
}
.futures__cards__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.futures__cards__card__content{
    width: 293px;
    height: 198px;
    background: #FFFFFF;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 100px;
    z-index: 999;
}
.futures__cards__card__content-title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #101010;
}
.futures__cards__card__content-text{
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: #101010;
    margin: 15px 0;
}
.futures__cards__card__content-link a{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #ED4C5C;
    text-decoration: none;
}
.technology{
    padding: 5% 17%;
}
.technology-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #000000;

}
.technology__blocks{
    display: flex;
    justify-content: space-between;
}
.technology__block{
    display: flex;
    flex-direction: column;
    width: 200px;
    align-items: center;
    text-align: center;
}
.technology__block-number{
    font-weight: bold;
    font-size: 100px;
    text-align: center;
    color: rgba(16, 16, 16, 0.08);
    position: relative;
    top: 50px;
    z-index: -1;
}
.technology__block__content{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.technology__block__content-title{
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #101010;
}
.stayFocused{
    background-color: #ED4C5C;
    padding: 5% 17%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.stayFocused__content-title{
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
    width: 450px;
}
.stayFocused__content-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    color: #FFFFFF;
    max-width: 450px;
    margin: 40px 0;
}
.stayFocused__content-icons{
    display: flex;
    align-items: center;
    column-gap: 20px;
}
.contact{
    padding: 5% 17%;
    display: flex;
    justify-content: space-between;
}
.contact__content-title{
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}
.contact__content-text{
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    text-align: left;
    color: #000000;
    margin-top: 50px;
    max-width: 420px;
}
.contact__form-first_row{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    column-gap: 30px;
}
.input__firts-row{
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 21px 31px;
    max-width: 255px;
}
.input__another-row{
    border: 1px solid #333333;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 21px 31px;
    width: 100%;
}
.form-submit{
    margin-top: 24px;
    width: 160px;
    height: 50px;
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    box-sizing: border-box;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
}
input:invalid:required{
    border: 1px solid red;
}
.footer{
    padding: 5% 17%;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.footer-column_title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #101010;
    margin-bottom: 33px;
}
.footer-column_content{
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    display: flex;
    flex-direction: column;
}
.footer-column_content a{
    font-size: 12px;
    line-height: 150%;
    color: #101010;
    text-decoration: none;
}
.footer-column_content a:hover{
    font-weight: bold;
}
.copyright{
    background-color: #FAFAFA;
    font-size: 12px;
    line-height: 14px;
    color: #101010;
    padding: 3% 17%;
}

@media screen and (max-width: 1615px) {
    .easyToUse {
        margin: 5% 8%;
    }

    .futures {
        padding: 5% 8%;
    }

    .futures__cards {
        flex-wrap: wrap;
    }

    .technology {
        padding: 5% 8%;
    }

    .stayFocused {
        padding: 5% 8%;
    }

    .contact {
        padding: 5% 8%;
    }

    .footer {
        padding: 5% 8%;
    }
}
@media screen and (max-width: 768px){
    .landing__header-menu{
        display: none !important;
    }
}

